.page{
    height: 100%;
    width: 100%;
    position: absolute;
}   

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: yellow;
    margin-left: 150px;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    font-size: 20;
    font-family: 'la belle aurore';
    
}

.bottom-tag-html {
    margin-left: -10px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}